
.header {
    background-color:royalblue;
    color:wheat;
    text-align:center;
    padding:5px;
}
.nav {
    background-color:greenyellow;
    line-height:25px;
    width:420px;
    float:left;
    padding:20px;
}
.section {
    width:350px;
    float:right;
    padding:10px;
}
.footer {
    background-color:red;
    color:white;
    clear:both;
    text-align:center;
    padding:7px;
    margin: 1em;
    
}

