<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>claire's home</title>
    <style>
           body {font-family: Verdana, sans-serif; font-size:1em;}
          /*header,nav,section,article,footer{border:5px solid grey; margin:5px; padding:8px;}*/
           nav ul {margin:0; padding:0;}
           nav ul li {display:inline; margin:5px;}
           </style>
    </head>
    
    
    <body>
        
        <div class="header">
         <h1><font size=20pt>Claire's Home</font></h1>
         <h2><a href="mailto:cla022318@yahoo.como.tw">connect me</a></h2>
             <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="190">
                 <polygon points="100,10 40,180 190,60 10,60 160,180"
                 style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;" />
             </svg>
         </div>
         <h3>hello <%= name %></h3>
        
            <div class="nav">
                <article>
    <em><h2>About me</h2>
        <ul><dt>文集
            <dd><li><a href="https://www.jobforum.tw/discussTopic.asp?cat=nthu&id=132581">清大生自創品牌—雪燼咖啡：用咖啡帶來溫暖</a>
                <li><a href="https://www.jobforum.tw/discussTopic.asp?cat=nthu&id=133598">捕夢網空拍工作室－讓你從空中抓著夢想的瞬間<a>
                    
            
        </ul>
        <h2>Freshman</h2>
      
        <ul><dt>上學期
            <dd><li>生活小組
            <li>耶誕舞會
        </ul>
        <ul><dt>下學期
            <dd><li>春季退休會
            <li>course101
            <li>大專盃游泳賽
        </ul>
        <ul><dt>暑假
            <dd><li>模擬聯合國營隊
                <li>理雙營
                <li>campblue
        </ul>
    
                    
        <h2>Sophomore</h2>
        <ul><dt>上學期
            <dd><li>模擬聯合國
                <li>OCW打工
                <li>第一次感恩節
                    </ul>
        <ul><dt>下學期
            <dd><li>第二次春季退休會
                <li>羅浮團輔長
        </ul>
        <ul><dt>暑假
            <dd><li>安徽行
                <li>中研院實習
                <li>campblue
        </ul>
        
        <h2>Junior</h2>
        <ul><dt>上學期
            <dd><li>加入「praise band」
                <li>第二次感恩節
                <li>哈爾濱雪見行
                        </ul>
        <ul><dt>下學期
            <dd><li>加入「樂寫」
                <li>學3D Inventer
                    </ul>
        <ul><dt>暑假
            <dd><li>時報夏令營
                <li>絲路之旅
            </ul>
        <h2>Now: Senior</h2>
        <ul><dt>上學期
            <dd><li>出書
                <li>第三次感恩節
                <li>程設大爆炸
                <li>清大魂校園記者
                
        </ul>
        <ul><dt>下學期
            <dd><li>設計思考讀書會
                <li>實習輔道探索
        </ul>
        <ul><dt>暑假
            <dd><li>campblue（籌備中）
        </ul>
        </div>
           
           </article>
            <div class="section">
            <article>
                <h2>Paris</h2>
                <p>Paris is the capital and most populous city of France.</p>
            </article>
            
           <!--音樂進入-->
           
            <video width="320" height="240" controls="controls">
                <source src="/Users/Claire/wee1-homework-claireliaoliao/express/html_sub/捕夢拍.mp4" type="video/mp4" />
                <source src="movie.ogg" type="video/ogg" />
                <source src="movie.webm" type="video/webm" />
                Your browser does not support the video tag.
            </video>
                
          </div>
            <div class="footer">
            <audio controls="controls">
                <source src="/Users/Claire/Desktop/music/韋瓦第：小提琴協奏曲「戀人」.mp3" type="audio/mp3" />
                Your browser does not support this audio format.
            </audio>
            </div>
    </body>
    </html>
